.idea
.gradle
.vscode
.vs
Sprint 1 - Kotlin\.gradle
Sprint 1 - Kotlin\flashcards.txt

Sprint 2 - Networking/game/casting/__pycache__/*
Sprint 2 - Networking/game/directing/__pycache__/*
Sprint 2 - Networking/game/scripting/__pycache__/*
Sprint 2 - Networking/game/services/__pycache__/*
Sprint 2 - Networking/game/shared/__pycache__/*
Sprint 2 - Networking/game/__pycache__/*
Sprint 2 - Networking/__pycache__/*

Sprint 5 - Rust/wordle-helper/target